[Unit]
SourcePath=/usr/bin/psi_daemon
Description=PSI Daemon
Before=tvmroot.service systemd-udev-trigger.service systemd-journald.service
DefaultDependencies=no

[Service]
User=system
Groups=system
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes
Restart=yes
Nice=-20
ExecStartPre=+/bin/chgrp system /dev/qti_virtio_mem
ExecStartPre=+/bin/chmod 0660 /dev/qti_virtio_mem
ExecStartPre=+/bin/chmod 0664 /proc/pressure/memory
ExecStartPre=+/bin/chown system:system /proc/pressure/memory
ExecStartPre=+/bin/chmod 0222 /sys/devices/virtual/qti_virtio_mem/qti_virtio_mem/kernel_unplug
ExecStartPre=+/bin/chown system:system /sys/devices/virtual/qti_virtio_mem/qti_virtio_mem/kernel_unplug
SupplementaryGroups=wakelock
ExecStart=/usr/bin/psi_daemon
CapabilityBoundingSet=CAP_SYS_RESOURCE CAP_BLOCK_SUSPEND
AmbientCapabilities=CAP_SYS_RESOURCE CAP_BLOCK_SUSPEND

[Install]
WantedBy=multi-user.target
